<h1>Cambio de Contrase単a</h1>
    {{#if errorMessage}}
    <p style="color: red;">{{errorMessage}}</p>
    {{/if}}
    {{#if successMessage}}
    <p style="color: green;">{{successMessage}}</p>
    {{/if}}
    <form action="/api/sessions/cambiodepass" method="POST">
        <label for="password">Nueva Contrase単a:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirmar Contrase単a:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Cambiar Contrase単a</button>
    </form>
