<section>
  <h2>Información del perfil</h2>
  <ul>
    <li><strong>Nombre:</strong> {{name}}</li>
    <li><strong>Rol:</strong> {{role}}</li>
    <li><strong>Email:</strong> {{email}}</li>
  </ul>
  <div>
      <p>¿Te gustaria cambiar a user Premium? <a href="/api/sessions/changetopremium">Cambia a Premium!</a></p>
  </div>
</section>